.contact-info{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.contact-info-box{
    
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    flex:1;
/* border: px solid rgb(48 48 48 / 87%); */
    margin: 4rem 4rem 0 4rem;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    color: black;
    background-color:white;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width:500px;
    
}
.contact-info-box:hover{
    transform: scale(0.8,0.8)
    
 
    
}
.contact-info-box img{
    flex:1;
    display:flex;
   
}
.contact-info-box div{
    flex:3;

    display: flex;
    flex-direction:column;
    margin-left:1rem;
    
   
}
.contact-info-box div h3{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color:rgb(86, 189, 189)
    
}
   
   

.contact-info-box div p{
    font-family: var(--font-family);
    
    font-size: 14px;
    line-height: 24px;
    
}

.contact-container-content{
    
    width:70%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 4rem auto;
    padding:4rem 4rem;
    
    
    color: black;
    background-image:linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef);
    max-width:600px;
   
    
    
}
.contact-container-content h1{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    color:#000;
    line-height: 45px;
    margin-bottom: 2rem; 
    background: var(--gradient-bar);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
 
}


.contact-container-content-input {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
}
.contact-container-content-input input {
    min-width: 25%;
    height: 40px;
    border: none;
    background-color:transparent;
    border-bottom: 1px solid rgb(182, 182, 182);
    font-family: var(--font-family);
    margin-right: 2rem;
    color: black;
    /* padding: 1rem; */
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight:500
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.contact-container-content textarea{
    width: 100%;
    margin-bottom: 2rem ;
    font-family: var(--font-family);
    background-color:transparent;
    border: 1px solid rgb(182, 182, 182);
    color: black;
    
    padding: 1rem;
    font-size: 18px;
    font-weight:500
}


@media screen and (max-width: 1000px){
    .contact-container-content{
        width:70%;
        margin :4rem auto ;
        
    }
}

    
@media screen and (max-width: 550px){
    .contact-container-content{
        width:100%;
        margin :4rem auto ;
        padding : 2rem
        
    }
    .contact-container-content h1{
        font-size: 28px;
        line-height: 30px;
    }

    
}





   
   
