
.main-div{
    background-image: url("../asset/image 2.png");
   width: 100% !important;
    /* height: 90px; */
}
.main-div:before{
    background-image: url("../asset/image 2.png");
   width: 100% !important;
    /* height: 90px; */
}
.artgallery-logo{
   max-width: 100px;
}

 .menu>ul{
    padding: 0;;
    margin: 0;
list-style: none;
color: #000;
display: flex;
flex-direction: row;
align-items: center;

}
.nav-item{
    list-style-type: none !important;
}
.nav-btn{
padding: 0 0.8rem !important;
font-weight: 600 !important;
color:black !important

}
.btn{
   background-color: #56BDBD;
   color: #fff;
}
.navbar>.container-fluid{
    grid-gap:40px ;
}
.Buttonofnavbar{
    position: relative;
    top: 10px;
}
.headerLink {
    padding: 0px 10px;
}

.headerLink>.nav-link {
    font-weight: 700;
    font-family: 'Raleway';
}

.headerLink>.nav-link:hover {
    color: #fc9918 !important;
}
.darkLink{
    text-decoration: none; 
    font-weight: 500;
    color:#626262;
    font-size: 13px;
    
}
.darkLink:hover{
  
    color:rgb(86, 189, 189);
    
}


@media screen and (max-width:1000px) {
    .navbar .container-fluid{
        grid-gap:20px !important;
    }
    
}
@media screen and (max-width:600px) {
    .artgallery-logo{
        width:80%;
    }
    .nav-link>span{
        display:none;
    }
    .navbar-toggler{
        font-size:14px !important;
    }
    .main-div{
        padding: 8px !important;
    }
    
    
}
@media screen and (max-width:350px) {
    .artgallery-logo{
        width:50%;
    }
    
    
}


