

.shopby-container{
grid-gap:40px;
max-width: 1500px;
margin:0 auto ;
flex-wrap: wrap;
}





.shopby-box{
    flex-direction: column;
    grid-gap:20px;
    padding:1rem 3rem ;
    background: white;
     border-radius: 8px !important;
     transition: all 0.3s ease-in-out;
     cursor: pointer;
}
.shopby-box>img{
   width: 150px !important;
}
.shopby-box:hover {
    
    background: #56BDBD;
     
}

.shopby-box>p{
  margin: 0 !important;
  font-size: 14px;
}
@media screen and (max-width:1000px ) {
  .shopby-box>img{
    width: 100px !important;
 }
  
}