

.all-product span{
   font-size: 13px;
}

.allproduct-top{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.allproduct-top>select{
    padding: 1rem;
    width: 400px;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    font-size:14px !important
}

.allproduct-left{
    padding: 1rem 2rem 1rem 2rem   ;
    background: #F4F1F1;
    border-radius: 8px;
    min-width: 280px;
    /* overflow: scroll; */
    
    
}
.allproduct-left>div>p{
  margin: 0.5rem;
  font-weight: 600;

    
}
.product-filter-input{
padding: 0.5rem 0;
}
.product-filter-input>label{
    font-weight: 400;
    font-size: 12px !important;
    line-height: 126.19%;
    /* identical to box height, or 18px */
    
    
    color: #ACA1A1;
}
.product-filter-input>input{
    width: 18px; /*Desired width*/
  height: 18px;
background: #8E8B8B;
position: relative;
top: 3px;
left: 3px;
/* border: 2px solid #8E8B8B; */
}

.allproduct-right{
   display: flex;
   grid-gap:10px;
   flex-wrap: wrap;
   justify-content: space-evenly;

   
   
}
.allproduct-right>div{
  
   background: #FFFFFF;
   max-width: 300px;
   height: max-content;
border: 1px solid #D3D1D1;
border-radius: 8px ;


}
.allproduct-right>div>a>img{
   width: 100%;
   border-radius: 8px 8px 0 0 ;
   height: 300px;
   object-fit: cover;

}
.product-box-desc{
    margin:1rem;
    overflow: auto;
    height: 50px;
    font-size: 12px;
}
.product-box-desc>*{
    display: none;
   
}
.product-box-desc>p{
    display: block !important
   
}
::-webkit-scrollbar {
    width: 4px;
    
    }
    
    
    ::-webkit-scrollbar-thumb {
    background:#b2b2b2c1; 
    border-radius:80px;
   
    }
 .rangeInput {
        /* background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);; */
        /* border: solid 1px #FC9918;
      border-radius: 8px;
      height: 7px;
      width: 100%;
      outline: none;
      transition: 450ms ease-in;
      -webkit-appearance: none; */
        background-color: #DEE2E6;
        border-radius: 8px;
        height: 4px;
        width: 100%;
        outline: none;
        -webkit-appearance: none;
    }
    
    input[type='range']::-webkit-slider-thumb {
        width: 6px;
        -webkit-appearance: none;
        height: 12px;
        background: black;
        border-radius: 2px;
    }


    @media screen and (max-width:650px) {


        
        
    }
    
   