.footer{
    background-color: #56BDBD;
    background-image: url("../asset/image\ 3.png");
    
    width: 100%;
    object-fit: contain;
}


.main-footer
{
    
    flex-direction: row;
    padding: 0 4rem;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
   

}
.footer-section{
    margin:  50px 30px;
}
.footer-section>h5{
    color:black;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 1rem;
    
}
.footer-section>p{
    color:black;
    
    font-size: 16px;
    line-height: 24px;
    
}
.footer-section>a{
    all:unset;
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    color:black;
    
    font-size: 16px;
    line-height: 24px;
    
}

.bottom-line{
    border-top: 2px solid black
}





@media only screen and (max-width : 1500px) {
    .footer-section{
        margin:  50px 10px;
        flex-basis: 200px;
    }
    .footer-section>h5{
        color:black;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 1rem;
        
    }
    .footer-section>p{
        color:black;
        
        font-size: 14px;
        line-height: 24px;
        
    }
}
@media only screen and (max-width : 1000px) {
    .main-footer
    {
        
        
        padding: 0 2rem;
       
        margin: 0 ;
        
       
    
    }
   
}
@media only screen and (max-width : 600px) {
    .main-footer
{
    
    
    padding: 0 1rem;
   
    margin: 0 ;
    
   

}
.footer-section{
    margin:  10px 20px;
}
}